<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
<section class="page-section bg-primary text-white mb-0" style="padding-top: 10%;" id="about" >
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About Phi Ai</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-book-open"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p style="padding-top: 5%;" class="aboutlead">Phi Ai connects you with philosophers of the past. <br> With Phi Ai you can chat with philosophers of the past, ask questions or have deep discussions on philosophical topics.</p></div>
            <div class="divider-custom divider-vertical"></div>
            <div class="col-lg-4 me-auto"><p style="padding-top: 5%;" class="aboutlead">Phi Ai serves you using Google Gemini Ai. This is a test project. <br> We apologize in advance for any bugs you may encounter.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/chat">
                <i class="fas fa-coffee"></i>
                START CHATTING
                <i class="fas fa-coffee"></i>
            </a>
        </div>
    </div>
</section>
<%- include('partials/_footer') -%> 