<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
<body class="chatbody">
<div class="chat-container">
  <div class="message-container" id="message-container">
    <!-- Mesajlar buraya eklenecek -->
  </div>
  <div class="chat-input">
    <input type="text" class="form-control rounded-input" id="message-input" placeholder="Mesaj覺n覺z覺 yaz覺n...">
    <button class="btn send-button" id="send-button"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
